.new-background-color{
  --background: linear-gradient(90deg, rgba(43,90,148,1) 0%, rgba(45,112,229,1) 35%, rgba(45,112,229,1) 100%);
}

.text-color{
  text-align: center;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 25px;
}

//ion-row{
//  background-color: #f7f7f7;
//  border: solid 1px #ddd;
//  padding: 15px;
//}

ion-avatar {
  --border-radius: 40%;
  width: 10%;
}

.title{
  font-size: 17px;
}

.sub{
  font-size: 11px;
}
