

.new-background-color{
  --background: linear-gradient(90deg, rgba(43,90,148,1) 0%, rgba(45,112,229,1) 35%, rgba(45,112,229,1) 100%);
}

.text-color{
  text-align: center;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 25px;
}

.f-h2{
  padding-left: 20px;
}

.f-p{
  padding-left: 20px;
}

.nimz{
  padding-left: 20px;
  color: black;
  font-weight: bold;
}

.loc-i{
  padding-right: 15px;
}

ion-card-subtitle{
  font-size: 13px;
}


ion-toggle {
  zoom: 0.6;
}
.f-btn{
  padding-right: 50px;
  padding-top: 10px;
}



