<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" [routerLink]="['/home']" class="cross" >
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <h3>Create an account</h3>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Let's get Started</h1>
    <p>To create, use your email or other social<br>accounts</p>
  </div>

  <ion-button class="new-background-color" expand="block" shape="round" [routerLink]="['/register']">Use your email address</ion-button>

  <div class="separator">
    <span>or</span>
    <span class="line left"></span>
    <span class="line right"></span>
  </div>


  <ion-button class="new-background-color" expand="block" shape="round"><ion-icon name="logo-facebook" class="s-btn-2"></ion-icon>Continue with Facebook</ion-button>
  <ion-button class="new-background-color" expand="block" shape="round"><ion-icon name="logo-google" class="s-btn-3"></ion-icon>Continue with Google</ion-button>

  <p class="p-2">Already have an account?</p>
  <ion-button shape="round" fill="clear" color="dark" size="small" class="btn-1" [routerLink]="['/signin']">Sign in</ion-button>

</ion-content>
