<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-button color="light" fill="clear" [routerLink]="['/chat']">
      <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title class="text-color">Lakmina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row class="m-l">
  <div class="container"><p>Hello. I saw your post about the boombox. Is it still available?</p>
    <span class="time-right">11:00</span>
  </div>
</ion-row>
  <ion-row class="m-r">
  <div class="container darker">  <p>Hey! Yes, it is available. Are you interested?</p>
    <span class="time-left">11:01</span>
  </div>
  </ion-row>
  <ion-row class="m-l">
  <div class="container"> <p>Sweet! So, is it negotiable?</p>
    <span class="time-right">11:02</span>
  </div>
  </ion-row>
  <ion-row class="m-r">
  <div class="container darker">
     <p>No, since we have already given a discount</p>
    <span class="time-left">11:05</span>
  </div>

  </ion-row>

<!--  <div class="c-loc-1">-->
<!--    <ion-item lines="none">-->
<!--      <ion-icon name="camera-outline" slot="start" color="dark"></ion-icon>-->
<!--      <ion-label>-->
<!--        <ion-input placeholder="Text Message"></ion-input>-->
<!--      </ion-label>-->
<!--      <ion-icon name="arrow-up-outline"></ion-icon>-->
<!--    </ion-item>-->
<!--  </div>-->

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="c-loc-1">
      <ion-item lines="none">
        <ion-icon name="camera-outline" slot="start" color="dark"></ion-icon>
        <ion-label>
          <ion-input placeholder="Text Message"></ion-input>
        </ion-label>
        <ion-icon name="arrow-up-outline"></ion-icon>
      </ion-item>
    </div>
  </ion-toolbar>
</ion-footer>
