<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="text-color">Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <h2 class="f-h2">Explore Categories</h2>
    </ion-col>
    <ion-col size="2">
      <ion-button color="primary" fill="clear" [routerLink]="['/afterhome']">
        <ion-icon slot="icon-only" name="checkmark-outline" class="f-btn"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <p class="f-p">Select a category to get the best ads for<br> your preference</p>

  <div class="c-loc-1">
    <ion-item lines="none">
      <ion-icon name="apps-outline" slot="start"></ion-icon>
      <ion-label>
        <ion-input placeholder="Category"></ion-input>
      </ion-label>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-item>
  </div>

  <div class="c-loc-2">
    <ion-item lines="none">
      <ion-icon name="apps-outline" slot="start"></ion-icon>
      <ion-label>
        <ion-input placeholder="Sub Category"></ion-input>
      </ion-label>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-item>
  </div>
<!--  <div class="img-wrapper">-->
<!--    <ion-img src="../../../assets/products.jpg"></ion-img>-->
<!--  </div>-->
  <div class="img-wrapper">
    <ion-img src="../../../assets/logo.png"></ion-img>
  </div>
</ion-content>


