<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-button color="light" fill="clear" [routerLink]="['/profile']">
      <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title class="text-color">FAQ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <ion-grid>
   <ion-row>
     <ion-col>
       <p>How to create an Ad</p>
       <ion-button color="primary" fill="clear" >
         <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
       </ion-button>
     </ion-col>
     <ion-col>
       <p>How to delete an Ad</p>
       <ion-button color="primary" fill="clear" >
         <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
       </ion-button>
     </ion-col>
     <ion-col>
       <p>How to update an Ad</p>
       <ion-button color="primary" fill="clear" >
         <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
       </ion-button>
     </ion-col>
   </ion-row>
   <ion-row>
     <ion-col>
       <p>How to change password</p>
       <ion-button color="primary" fill="clear" >
         <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
       </ion-button>
     </ion-col>
     <ion-col>
       <p>How edit profile details</p>
       <ion-button color="primary" fill="clear" >
         <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
       </ion-button>
     </ion-col>
     <ion-col>
       <p>How to send a message</p>
       <ion-button color="primary" fill="clear" >
         <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
       </ion-button>
     </ion-col>
   </ion-row>
   <ion-row>
     <ion-col>
       <p>How to sign up</p>
       <ion-button color="primary" fill="clear" >
         <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
       </ion-button>
     </ion-col>
     <ion-col>
       <p>How to sign in</p>
       <ion-button color="primary" fill="clear" >
         <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
       </ion-button>
     </ion-col>
     <ion-col>
       <p>How to logout</p>
       <ion-button color="primary" fill="clear" >
         <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
       </ion-button>
     </ion-col>
   </ion-row>
 </ion-grid>

</ion-content>
